$COLOR_WHITE: #FFFFFF;
$COLOR_BLACK: #000000;

$COLOR_GREY_50: #FAFAFA;
$COLOR_GREY_100: #F5F5F5;
$COLOR_GREY_200: #EEEEEE;
$COLOR_GREY_300: #E0E0E0;
$COLOR_GREY_400: #BDBDBD;
$COLOR_GREY_500: #9E9E9E;
$COLOR_GREY_600: #757575;
$COLOR_GREY_650: #656565;
$COLOR_GREY_700: #616161;
$COLOR_GREY_800: #424242;
$COLOR_GREY_900: #212121;