client/node_modules
client/src/firebase/config.js
client/build
client/assets/css
client/package-lock.json
client/.eslintcache
!/client/assets/css/index.css

api/node_modules/
api/config/default.json
api/config/nginx
api/package-lock.json

img/