@import '../constants/screenSizes.scss';

#homeImage {
    color: white;
    background-color: black;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2) ), url('https://firebasestorage.googleapis.com/v0/b/photomap-9caa6.appspot.com/o/img_main%2Fhome_page3.jpg?alt=media&token=470113fa-b4f9-489b-8951-e5376325bb92');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: calc(100vh - 80px);
    width: 100%;
    //margin-top: -$navbar-height;
    display: flex;
    align-items: flex-end; // vertical alignment
    padding-bottom: 65px;

    span {
        h1 {
            font-size: 3.2rem;
            font-weight: 600;
        }

        .button-wrapper {
            display: flex;
            flex-direction: row;
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-size: 2rem;
                font-weight: 500;
                margin-right: 20px;
            }

            .btn {
                font-weight: bold;
                font-size: 1.3rem;
                padding: 8px;
                padding-left: 15px;
                padding-right: 15px;
                border-radius: 25px;
                margin: 10px;
            }
        }
    }

    @media (max-width: #{$screen-sm-min}) {
        background: url('https://firebasestorage.googleapis.com/v0/b/photomap-9caa6.appspot.com/o/img_main%2Fhome_page.jpg?alt=media&token=3dc44167-b4f4-4e04-8970-b96aaacf460f');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

