@import '../constants/colors.scss';

.mapWrapper {
    display: flex;
    flex-direction: row;
}

#mapViewContainer {
    flex: 1;
    margin: 0;
    padding: 0;
    border: 10px solid black;
    height: 90vh;
}

.photos-preview {
    display: flex;
    flex-direction: column;
    background-color: $COLOR_GREY_300;
    scroll-behavior: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
    padding: 5px;
    img {
        border: 5px solid #eee;
        width: 180px;
        margin-right: 25px;
        margin-bottom: 5px;
        border-radius: 25px;
        box-shadow: 2px 2px 5px $COLOR_GREY_300;
    }
    img:hover {
        cursor: pointer;
        box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5);
    }
    .change-page-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        padding-right: 15px;

        i {
            color: $COLOR_GREY_400;
        }

        i.active {
            color: $COLOR_GREY_800;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
