@import '../constants/colors.scss';

.mapWrapper {
    display: flex;
    flex-direction: row;
}

#mapViewContainer {
    flex: 1;
    margin: 0;
    padding: 0;
    border: 10px solid black;
    height: 90vh;
}

.photos-preview {
    display: flex;
    flex-direction: column;
    background-color: $COLOR_GREY_300;
    scroll-behavior: auto;
    overflow-y: scroll;
    height: 90vh;
    img {
        border: 5px solid #eee;
        margin: 10px;
        width: 180px;
        border-radius: 25px;
        box-shadow: 2px 2px 5px $COLOR_GREY_300;
    }
    img:hover {
        cursor: pointer;
        box-shadow: 0 0 5px 5px rgba(0, 140, 186, 0.5);
    }
}