@import '../constants/screenSizes.scss';

nav {
  margin: 0px;
  //opacity: 70%;
  //position: absolute;
  //top: 0;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  height: $navbar-height;
  border-bottom: 1px solid white;
  .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }
  ul {
    form {
      background-color: white;
      border-radius: 10px;
      input {
        border-radius: 10px;
        padding-left: 10px;
        border: none;
        height: 32px;
        width: 200px;
      }
      input:focus {
        outline: none;
      }
      i {
        background-color: white;
        padding: 7px;
        border: 0px;
        border-radius: 10px;
      }
      button {
        background-color: white;
      }
      @media (max-width: #{$screen-sm-min-search}) {
        visibility: hidden;
      }
    }
  }
  li {
      margin: 10px;
  }
  .btn {
    border-radius: 10px;
  }
  #upload-link {
    color: $text-on-white-button;
    text-decoration: none;
  }
  .avatar-show-photo {
    width: 30px;
    border-radius: 25px;
    margin: 10px;
  }
}

@media (max-width: #{$screen-sm-min}) {
    .navbar-nav {
        background-color: #343A40;
        padding: 10px;
    }
  }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 1.35rem;
  margin: 0;
}
