nav {
  margin: 0px;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  height: 80px;
  border-bottom: 1px solid white; }
  nav .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.5rem; }
  nav ul form {
    background-color: white;
    border-radius: 10px; }
    nav ul form input {
      border-radius: 10px;
      padding-left: 10px;
      border: none;
      height: 32px;
      width: 200px; }
    nav ul form input:focus {
      outline: none; }
    nav ul form i {
      background-color: white;
      padding: 7px;
      border: 0px;
      border-radius: 10px; }
    nav ul form button {
      background-color: white; }
    @media (max-width: 656px) {
      nav ul form {
        visibility: hidden; } }
  nav li {
    margin: 10px; }
  nav .btn {
    border-radius: 10px; }
  nav #upload-link {
    color: black;
    text-decoration: none; }
  nav .avatar-show-photo {
    width: 30px;
    border-radius: 25px;
    margin: 10px; }

@media (max-width: 576px) {
  .navbar-nav {
    background-color: #343A40;
    padding: 10px; } }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 1.35rem;
  margin: 0; }
