#update-profile-container input,
#update-profile-container textarea {
  width: 100%;
  padding: 10px; }

.profile-top {
  color: white;
  border-radius: 10%; }

.profile-social-icon {
  color: white; }

.profile-social-icon :hover {
  color: #707070; }

.round-img {
  border-radius: 50%; }

.profile-photo-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .profile-photo-items-container img {
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid grey; }
