#update-profile-container {
	input,
	textarea {
		width: 100%;
		padding: 10px;
	}
}

.profile-top {
	color: white;
	border-radius: 10%;
}

.profile-social-icon {
	color: white;
}

.profile-social-icon :hover {
	color: #707070;
}

.round-img {
	border-radius: 50%;
}
