.d-block {
  display: block !important; }

.photo-modal {
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 80px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10; }

#currentPhoto {
  margin: 0;
  padding: 0; }
  #currentPhoto img {
    max-width: 70%;
    padding-top: 0px;
    margin-top: -15px; }
  #currentPhoto i {
    color: black;
    padding: 0;
    margin: 0; }
  #currentPhoto i:hover {
    color: #8a8c81;
    cursor: pointer; }
  #currentPhoto .iconsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px; }
    #currentPhoto .iconsWrapper .editIconWrapper .editIcon {
      padding: 10px; }
    #currentPhoto .iconsWrapper .likeIconWrapper {
      width: 50px; }
      #currentPhoto .iconsWrapper .likeIconWrapper .likeIcon {
        padding: 5px;
        border-radius: 25px; }
      #currentPhoto .iconsWrapper .likeIconWrapper .likeIcon:hover {
        background-color: #eee; }
  #currentPhoto .photoModalLink {
    color: #656565; }
  #currentPhoto #currentPhotoImg {
    padding: 10px;
    padding-bottom: 30px; }
  #currentPhoto #deletePhoto:hover {
    text-decoration: underline;
    cursor: pointer; }
  #currentPhoto .mapLink {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/photomap-9caa6.appspot.com/o/img_main%2FmapLink.png?alt=media&token=cdc6e859-63ca-4f42-bb0e-2a9e5f5c14f5");
    width: 300px;
    height: 150px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 50%;
    font-size: 20px;
    color: black;
    font-weight: 800; }
  #currentPhoto .avatar-show-photo {
    width: 40px;
    border-radius: 25px;
    margin: 10px; }

@media (min-width: 992px) {
  #currentPhoto img {
    max-width: 70%; } }
